.booksContainer {
    padding-left: 10%;
    padding-right: 10%;

    & > div:first-of-type {
        background-color: var(--color-third);
        padding: var(--spacing-lg);
        border-radius: var(--border-radius);
        border: 1px solid var(--color-main);
        box-shadow: var(--box-shadow);
        display: grid;
        gap: var(--spacing-sm);
        grid-template-rows: repeat(auto-fill, auto);
        grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));

        & div {
            border: 1px solid var(--color-main);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            background-color: var(--color-main);
            transition: 150ms ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

            & a {
                display: grid;
                grid-template-rows: 228px 1fr;
                text-align: center;
                height: 100%;

                & img {
                    justify-self: start;
                    width: 100%;
                    height: 228px;
                    border-radius: var(--border-radius);
                }

                & h3 {
                    padding: var(--spacing-xs);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: auto;
                }

                &:hover {
                    transform: none;
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
    }

    & > div:last-of-type {
        & p {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-lg);

            & button {
                padding-left: var(--spacing-md);
                padding-right: var(--spacing-md);
                padding-top: var(--spacing-xs);
                padding-bottom: var(--spacing-xs);
            }
        }
    }
}

@media only screen and (max-width: 500px)  {
    .booksContainer {
        & h1 {
            text-align: center;
        }
    
        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--spacing-md);
        
            & div a img {
            min-width: 150px;
            }
        }
    }
}